<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello World in AngularJS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
</head>
<body ng-app="app">
    <ng-view></ng-view>

    <!-- Templates -->
    <script type="text/ng-template" id="/todos.html">
        Search: <input type="text" ng-model="search.title">
        <ul>
            <li ng-repeat="todo in todos | filter: search">
                <input type="checkbox" ng-model="todo.completed">
                <a href="#/{{$index}}">{{todo.title}}</a>
            </li>
        </ul>
    </script>
    <script type="text/ng-template" id="/todoDetails.html">
        <h1>{{ todo.title }}</h1>
        completed: <input type="checkbox" ng-model="todo.completed">
        note: <textarea>{{todo.note}}</textarea>
    </script>
    <script>
        // Modules: encapsulate to reuse
        angular.module('app', ['ngRoute'])
        .value('Tasks', [
            {_id: 1, title: 'Master HTML/CSS/Javascript', completed: true},
            {_id: 2, title: 'Learn AngularJS', completed: true },
            {_id: 3, title: 'Get started with ExpressJS', completed: false },
            {_id: 4, title: 'Setup MongoDB database', completed: false},
            {_id: 5, title: 'Be awesome!', completed: false}
        ])
        //---------------
        // Services
        //---------------
        .factory('TaskService', function(Tasks) {
            var _items = Tasks
            return {
                setListItems: function(items) {
                    _items = items;
                    return this;
                },
                getListItems: function() {
                    return _items;
                }
            }
        })
        //---------------
        // Controllers
        //---------------
        .controller('TodoController', function ($scope, TaskService) {
            $scope.students = [];
            var empid = 1;
            $scope.todos = TaskService.getListItems();
        })
        .controller('TodoDetailsCtrl', ['$scope', '$routeParams', 'Todos',
            function ($scope, $routeParams, Todos) {
                $scope.todos = Todos[$routeParams.id];
            }
        ])
        //---------------
        // Routes
        //---------------
        .config(['$routeProvider', function ($routeProvider) {
            $routeProvider
            .when('/', {
                templateUrl: '/todos.html',
                controller: 'TodoController'
            })
            .when('/:id', {
                templateUrl: '/todoDetails.html',
                controller: 'TodoDetailsCtrl'
            });
        }]);
    </script>
</body>
</html>