<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello World in AngularJS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
</head>
<body ng-app="app">
    <input ng-model="name"> Hello {{ name }}
    <div ng-controller="TodoController">
        <ul>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.completed">
                {{ todo.title }}
            </li>
        </ul>
    </div>
    <script>
        // Function controller
        function TodoController($scope) {
            $scope.todos = [
                { title: 'Master HTML/CSS/Javascript', completed: true },
                { title: 'Learn AngularJS', completed: false },
                { title: 'Build NodeJS backend', completed: false },
                { title: 'Get started with ExpressJS', completed: false },
                { title: 'Setup MongoDB database', completed: false },
                { title: 'Be awesome!', completed: false },
            ]
        }
        // Modules: encapsulate to reuse
        angular.module('app', [])
        .controller('TodoController', TodoController);
    </script>
</body>
</html>