<html>
    <head>
        <title>Lista De Tareas</title>
    </head>
    <body ng-app="app">
        <ng-view></ng-view>
        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
        <script src="scripts/resources/Resource.js"></script>
        <script src="scripts/service/TodoService.js"></script>
        <script src="scripts/index.js"></script>
        <script src="scripts/controller/TodoController.js"></script>
        <script src="scripts/controller/TodoDetailsCtrl.js"></script>
    </body>
</html>