<div class="container">
    <form>
        <div class="form-group">
            <label for="Name"><b>Name</b></label>
            <input type="text" class="form-control" id="Name" ng-model="task.name">
        </div>
        <div class="form-group">
            <label for="Impact"><b>Impact</b></label>
            <input type="text" class="form-control" id="Impact" ng-model="task.impact">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="Completed" ng-model="task.completed">
            <label class="form-check-label" for="Completed"><b>Completed</b></label>
        </div>
        <div class="form-group">
            <label for="Note"><b>Note</b></label>
            <textarea class="form-control" id="Note">{{task.note}}</textarea>
    </div>
        </div>
    </form>
</div>